.App {
  background-image: url("./componets/img/paisagem2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 1360px;
  flex-wrap: wrap;
  display: flex;
}

@media (max-width: 501px) {
  .App {
    background-image: url("./componets/img/paisagem2.jpg");
    min-width: 540px;
    height: 650px;
  }
}
